*.dll
.vs/starskyAddon/v16/.suo
*.db
*.opendb
*.ilk
*.pdb
*.log
*.obj
*.log
*.tlog
*.idb
*.pdb
*.log
.vs/starskyAddon/v16/.suo
*.ipch
*.dll
*.iobj
*.ipdb
*.pdb
*.obj
*.log
*.tlog
*.lastbuildstate
*.tlog
*.txt
*.pdb
*.ipch
*.ipch
*.ipch
*.log
starskyAddon/Debug/starskyAddon.log
